/*=============================================
=          NeuDark - [Stylish/Stylus]         =
=============================================*/
/*

		NeuDark is an eye-saver modification of the Stylish and Stylus Admin interface for Chrome. The interface is completely redesigned for a dark experience, incorporating Font Awesome icons and a semi-material theme. NeuDark currently supports all of the dark syntax themes shipped with both platforms and will support light-to-dark theme conversions in the future.

*/

/*=================================
=          GLOBAL STYLES          =
=================================*/

/* LOAD FONTS */

@font-face{font-family:'FontAwesome';src:url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.eot?v=4.7.0');src:url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'),url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'),url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'),url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'),url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');font-weight:normal;font-style:normal}

@font-face{font-family:'Open Sans';font-style:normal;font-weight:300;src:local('Open Sans Light'),local('OpenSans-Light'),url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTRampu5_7CjHW5spxoeN3Vs.woff2) format('woff2')}@font-face{font-family:'Open Sans';font-style:normal;font-weight:400;src:local('Open Sans'),local('OpenSans'),url(https://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3ZBw1xU1rKptJj_0jans920.woff2) format('woff2')}@font-face{font-family:'Open Sans';font-style:normal;font-weight:600;src:local('Open Sans Semibold'),local('OpenSans-Semibold'),url(https://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNShampu5_7CjHW5spxoeN3Vs.woff2) format('woff2')}@font-face{font-family:'Open Sans';font-style:normal;font-weight:700;src:local('Open Sans Bold'),local('OpenSans-Bold'),url(https://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzBampu5_7CjHW5spxoeN3Vs.woff2) format('woff2')}

@font-face{font-family:'Source Code Pro';font-style:normal;font-weight:400;src:local('Source Code Pro'),local('SourceCodePro-Regular'),url(https://fonts.gstatic.com/s/sourcecodepro/v6/mrl8jkM18OlOQN8JLgasD9V_2ngZ8dMf8fLgjYEouxg.woff2) format('woff2')}@font-face{font-family:'Source Code Pro';font-style:normal;font-weight:500;src:local('Source Code Pro Medium'),local('SourceCodePro-Medium'),url(https://fonts.gstatic.com/s/sourcecodepro/v6/leqv3v-yTsJNC7nFznSMqUHj7CJK1I4bLnYZkMY-kd4.woff2) format('woff2')}

body, button, span#update-history svg, #stylus-manage #search, #stylish-manage #search, #basic-info-name #name {
	font-family: 'Open Sans', Helvetica, sans-serif;
}

fieldset label:after, #basic-info-name a::after, .style-name a::after, #save-button:before, #beautify:before, #cancel-button:before, #from-mozilla:before, #to-mozilla:before, button.remove-applies-to:before, button.add-applies-to:before, button.remove-section:before, button.add-section:before, button.beautify-section:before, button#check-all-updates:before, button#add-style-label:before, button#apply-all-updates:before, button#file-all-styles:before, button#unfile-all-styles:before, .actions .style-edit-link button:before, .actions button.enable:before, .actions button.disable:before, .actions button.delete:before, .actions button.check-update:before, .actions button.update:before, #stylus-manage #options button:before, #popup-options button:before, #stylish-popup .bottom_controls a:before, #stylish-popup .thumbnail-mask a:before, input[type=checkbox]:checked:before, .CodeMirror-lint-marker-warning:before, .CodeMirror-lint-message-warning:before, .CodeMirror-lint-marker-error:before, .CodeMirror-lint-message-error:before, .CodeMirror-lint-marker-multiple:before {
	font-family: 'FontAwesome';
}

.CodeMirror, .CodeMirror-lint-tooltip {
	font-family: 'Source Code Pro', monospace, sans-serif;
}

/* MAIN */
body {
	background: #2d2d2d;
	color: #ccc;
}

a:link, a:visited {
	color: #ccc;
	font-weight: 600;
	text-decoration: none;
	border-bottom: solid 2px #666;
}

a:hover, a:active {
	color: #FFF;
	text-decoration: none;
}

a:link, a:visited, #header h1, #header h1:before, #basic-info-name #name, img[src="help.png"], img[src="images/help.png"], #basic-info-name a::after, .style-name a::after, button, span#update-history svg, input[type=checkbox], input[type=checkbox]:checked:before, .option.aligned select, .applies-to-list select, input, #lint tr {
	-moz-transition: all 0.3s cubic-bezier(.25, .5, .25, 1);
	-o-transition: all 0.3s cubic-bezier(.25, .5, .25, 1);
	-webkit-transition: all 0.3s cubic-bezier(.25, .5, .25, 1);
	transition: all 0.3s cubic-bezier(.25, .5, .25, 1);
}

#header {
	height: 100vh;
	border-right: 1px dashed #444444;
	-webkit-box-shadow: none !important;
	width: 250px;
	padding: 0 20px;
	overflow-x: auto;
}

#header h1 {
	text-align: center;
	font-weight: 300;
	font-size: 28px;
	margin-bottom: 15px;
}

#header h1:before {
	text-align: center;
	display: block;
	margin: 10px 0 20px 0;
	padding: 0;
	border-bottom: 1px solid #444;
}

#filters.active {
	background-color: #2d2d2d;
	border-color: #2d2d2d;
}

fieldset {
	border: 4px solid #444444 !important;
	border-radius: 0 !important;
	margin: 10px 0 20px;
	padding: 10px 10px 40px 10px;
	position: relative;
}

fieldset label {
	line-height: 21px !important;
	min-height: 20px !important;
	display: block;
	margin-bottom: 7px;
	position: relative;
}

fieldset label select {
	color: inherit;
	outline: none;
	-webkit-appearance: none;
	line-height: 21px;
	width: 154px !important;
}

fieldset label select option {
	background-color: #2d2d2d;
	color: inherit;
}

fieldset label span {
	display: flex;
}

fieldset label:after {
	content: '\f078';
	font-size: 12px;
	width: 24px;
	text-align: right;
	font-weight: normal;
	position: absolute;
	right: 0;
	top: 0;
	background: #2d2d2d;
	color: #484848;
	pointer-events: none;
}

fieldset label#onlyUpdates:after {
	content: none;
}

#search {
	width: 100%;
	margin: 0;
	border-radius: 0;
	padding: 8px 10px;
	border-width: 0px;
	border-top: 1px solid #444;
	position: absolute;
	background-color: #333;
	left: 0;
	bottom: 0;
}

#basic-info-name {
	display: flex;
	align-items: center;
}

#basic-info-name #name {
	width: 100%;
	box-shadow: inset 0 0 0 50px #444, 0 1px 8px 1px rgba(0, 0, 0, 0.1);
	padding: 10px 34px 10px 10px;
	font-size: 19px;
	font-weight: 300;
	background: transparent !important;
}

#basic-info-name #name:focus {
	box-shadow: inset 0 0 0 1px #444;
	background: #222 !important;
}

#basic-info-name a img,
.style-name a img {
	display: none;
}

img[src="help.png"],
img[src="images/help.png"] {
	width: 10px;
	height: 10px;
	padding: 2px;
	content: url("data:image/svg+xml;utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0ZWQgYnkgSWNvTW9vbi5pbyAtLT4KPCFET0NUWVBFIHN2ZyBQVUJMSUMgIi0vL1czQy8vRFREIFNWRyAxLjEvL0VOIiAiaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkIj4KPHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIHdpZHRoPSIxNnB4IiBoZWlnaHQ9IjE2cHgiIHZpZXdCb3g9IjAgMCAxNiAxNiI+CjxwYXRoIGZpbGw9IiMyZDJkMmQiIGQ9Ik05IDExaC0zYzAtMyAxLjYtNCAyLjctNC42IDAuNC0wLjIgMC43LTAuNCAwLjktMC42IDAuNS0wLjUgMC4zLTEuMiAwLjItMS40LTAuMy0wLjctMS0xLjQtMi4zLTEuNC0yLjEgMC0yLjUgMS45LTIuNSAyLjNsLTMtMC40YzAuMi0xLjcgMS43LTQuOSA1LjUtNC45IDIuMyAwIDQuMyAxLjMgNS4xIDMuMiAwLjcgMS43IDAuNCAzLjUtMC44IDQuNy0wLjUgMC41LTEuMSAwLjgtMS42IDEuMS0wLjkgMC41LTEuMiAxLTEuMiAyeiIvPgo8cGF0aCBmaWxsPSIjMmQyZDJkIiBkPSJNOS41IDE0YzAgMS4xMDUtMC44OTUgMi0yIDJzLTItMC44OTUtMi0yYzAtMS4xMDUgMC44OTUtMiAyLTJzMiAwLjg5NSAyIDJ6Ii8+Cjwvc3ZnPgo=");
	background-color: #666666;
	border-radius: 50%;
}

img#sections-help,
img#to-mozilla-help,
img#keyMap-help,
img#lint-help,
img.applies-to-help {
	display: inline-block;
}

img#sections-help,
img#to-mozilla-help,
img#lint-help {
	margin: 11px 0 0 7px;
	vertical-align: top;
}

img.applies-to-help {
	margin: 2px 0 0 4px;
	vertical-align: top;
}

img#keyMap-help {
	margin: 0;
	position: absolute;
	right: -4px;
	top: -4px;
	padding: 2px !important;
	background-color: #666666;
}

img[src="help.png"]:hover,
img[src="images/help.png"]:hover {
	cursor: pointer;
}

#basic-info-name #url {
	margin-left: 0;
	border: none;
	position: absolute;
	right: 30px;
}

.style-name a {
	border: none;
}

#basic-info-name a::after,
.style-name a::after {
	content: '\f05a';
	font-size: 24px;
	width: 24px;
	text-align: center;
	display: inline-block;
	color: #666666;
	font-weight: normal;
}

#basic-info-enabled {
	margin: 20px 0;
	float: left;
	width: 100%;
}

#actions > * {
	border-bottom: 1px solid #444;
	padding-bottom: 25px;
	margin: 0;
	overflow: hidden;
	width: 100%;
}

button,
span#update-history svg {
	cursor: default;
	background: #333333;
	padding: 10px 15px;
	text-align: center;
	border: 1px solid rgba(255, 255, 255, 0.1) !important;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.2);
	font-size: 12px;
	font-weight: 600;
	text-transform: uppercase;
	overflow: hidden;
	outline: transparent !important;
}

button:hover,
span#update-history svg:hover {
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 6px 6px rgba(0, 0, 0, 0.18);
}

#actions button {
	margin: 0 4px 0 0;
	float: left;
}

#actions button:last-child {
	margin-right: 0 !important;
}

#save-button,
#beautify,
#cancel-button {
	width: 32.5% !important;
	padding: 15px !important;
	font-size: 0 !important;
	opacity: 1;
	pointer-events: visible;
}

#from-mozilla,
#to-mozilla {
	width: 49%;
}

#save-button:before,
#beautify:before,
#cancel-button:before,
#from-mozilla:before,
#to-mozilla:before,
button.remove-applies-to:before,
button.add-applies-to:before,
button.remove-section:before,
button.add-section:before,
button.beautify-section:before,
button#check-all-updates:before,
button#add-style-label:before,
button#apply-all-updates:before,
button#file-all-styles:before,
button#unfile-all-styles:before,
.actions .style-edit-link button:before,
.actions button.enable:before,
.actions button.disable:before,
.actions button.delete:before,
.actions button.check-update:before,
.actions button.update:before,
#stylus-manage #options button:before,
#popup-options button:before,
#stylish-popup .bottom_controls a:before,
#stylish-popup .thumbnail-mask a:before {
	display: inline-block;
	vertical-align: top;
	font-weight: normal;
	margin-right: 7px;
}

#save-button:before,
#beautify:before,
#cancel-button:before,
button#check-all-updates:before,
button#add-style-label:before,
button#file-all-styles:before,
button#unfile-all-styles:before,
#stylus-manage #options button:before,
#popup-options button:before,
#stylish-popup .bottom_controls a:before,
#stylish-popup .thumbnail-mask a:before {
	font-size: 24px;
	line-height: 24px;
	width: 24px;
	height: 24px;
	text-align: center !important;
	margin-right: 0 !important;
}

#from-mozilla:before,
#to-mozilla:before,
button.remove-section:before,
button.add-section:before,
button.beautify-section:before,
button.remove-applies-to:before,
button.add-applies-to:before,
button#apply-all-updates:before,
.actions .style-edit-link button:before,
.actions button.enable:before,
.actions button.disable:before,
.actions button.delete:before,
.actions button.check-update:before,
.actions button.update:before {
	font-size: 16px;
	line-height: 16px;
	width: 16px;
	height: 16px;
}

#save-button:before {
	content: '\f0c7';
	color: #8bc34a;
}

#save-button {
	color: #8bc34a;
}

#save-button:hover {
	background-color: #404b33;
}

#save-button:after {
	content: 'd';
}

body.dirty #save-button,
body.dirty #save-button:before {
	color: #F44336;
}

body.dirty #save-button:hover {
	background-color: #54312f;
}

body.dirty #save-button:after {
	content: '?';
}

#beautify {
	color: #d0a421;
}

#beautify:hover {
	background-color: #4e452a;
}

#beautify:before {
	content: '\f13c';
	color: #d0a421;
}

#cancel-button:before {
	content: '\f0c9';
}

#from-mozilla:before {
	content: '\f093';
}

#to-mozilla:before {
	content: '\f019';
}

button.remove-applies-to {
	font-size: 0;
	padding: 10px !important;
}

button.remove-applies-to:hover {
	background-color: #54312f;
}

button.remove-applies-to:before {
	content: '\f068';
	color: #F44336;
	margin-right: 0 !important;
	text-align: center !important;
}

button.add-applies-to {
	font-size: 0;
	padding: 10px !important;
}

button.add-applies-to:hover {
	background-color: #404b33;
}

button.add-applies-to:before {
	content: '\f067';
	color: #8bc34a;
	margin-right: 0 !important;
	text-align: center !important;
}

button.remove-section:before {
	content: '\f068';
}

button.add-section:before {
	content: '\f067';
}

button.beautify-section:before {
	content: '\f13c';
}

button#check-all-updates:before {
	content: '\f021';
}

button#add-style-label:before {
	content: '\f1c9';
}

button#apply-all-updates:before {
	content: '\f00c';
}

button#file-all-styles:before {
	content: '\f0ed';
}

button#unfile-all-styles:before {
	content: '\f0ee';
}

.actions .style-edit-link button:before {
	content: '\f040';
}

.actions button.enable:before {
	content: '\f011';
}

.actions button.disable:before {
	content: '\f05e';
	color: #d0a421;
}

.actions button.disable:hover {
	background-color: #4e452a;
}

.actions button.delete:before {
	content: '\f014';
	color: #F44336;
}

.actions button.delete:hover {
	background-color: #54312f;
}

.actions button.check-update:before {
	content: '\f021';
}

.actions button.update:before {
	content: '\f062';
	color: #8bc34a;
}

.actions button.update:hover {
	background-color: #404b33;
}

.actions .style-edit-link button:before,
.actions button.enable:before,
.actions button.disable:before,
.actions button.delete:before,
.actions button.check-update:before,
.actions button.update:before {
	margin-right: 0 !important;
}

#popup-options button#popup-manage-button:before {
	content: '\f0c9';
}

#popup-options button#popup-options-button:before,
#stylus-manage button#manage-options-button:before {
	content: '\f1de';
}

#popup-options button#popup-shortcuts-button:before,
#stylus-manage button#manage-shortcuts-button:before {
	content: '\f11c';
}

#stylus-manage #find-editor-styles button:before {
	content: '\f1fc';
}

#stylish-popup .bottom_controls .manage_styles:before {
	content: '\f0c9';
	color: #D2BB8D;
}

#stylish-popup .bottom_controls .add_style:before {
	content: '\f1c9';
	color: #D2BB8D;
}

#stylish-popup .thumbnail-mask a.thumbnail_edit:before {
	content: '\f040';
}

#stylish-popup .thumbnail-mask a.thumbnail_activate:before {
	content: '\f011';
}

#stylish-popup .thumbnail-mask a.thumbnail_deactivate:before {
	content: '\f05e';
}

#stylish-popup .thumbnail-mask a.thumbnail_delete:before {
	content: '\f014';
}

#stylish-popup .thumbnail-mask a.thumbnail_feedback:before {
	font-size: 16px !important;
	line-height: 16px !important;
	width: 16px !important;
	height: 16px !important;
	margin: 0 2px 0 0 !important;
	vertical-align: middle;
	opacity: 0.75;
}

#sections > div > button:not(:first-of-type) {
	margin-left: 0 !important;
}

#help-popup {
	top: 50%;
	right: 0;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	background-color: #2d2d2d;
	border: 10px solid #272727;/* 	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 6px 6px rgba(0, 0, 0, 0.18); */
	box-shadow: 0px 0px 0 10000px rgba(16, 16, 16, 0.85);
	outline: 1px solid #444;
	padding: 1rem;
	min-width: 30vw;
}

#help-popup .title {
	font-weight: 300;
	background-color: transparent;
	margin: -1rem -1rem 0.5rem;
	padding: 0.6rem;
	text-transform: uppercase;
	font-size: 18px;
	line-height: 1;
}

#help-popup .close-icon {
	background: linear-gradient(-45deg, transparent 5px, #999 5px, #999 6px, transparent 6.5px) no-repeat, linear-gradient(45deg, transparent 5px, #999 5px, #999 6px, transparent 6.5px) no-repeat;
}

#help-popup.big {
	max-width: 50vw;
	left: 50%;
}

.keymap-list {
	font-size: 100%;
	line-height: 1.5;
	width: 100%;
}

.keymap-list td:first-child {
	padding-right: 0.5rem;
	text-align: right;
}

.keymap-list td:last-child {
	padding-left: 0.5rem;
	color: #999;
}

.beautify-options select {
	border: none;
	background-color: transparent;
	color: #d0a421;
	outline: none !important;
}

input[type=checkbox] {
	-webkit-appearance: none;
	position: relative;
	background-color: #2d2d2d;
	border-radius: 100%;
	color: #fff;
	cursor: auto;
	display: block;
	margin: 0 5px 0 0 !important;
	padding: 0;
	outline: transparent !important;
	width: 20px;
	height: 20px;
	float: left;
	clear: both;
	border: 2px solid #444;
	box-shadow: none !important;
}

input[type=checkbox]:after {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 48px;
	height: 48px;
	margin-left: -16px;
	margin-top: -16px;
	border-radius: 100%;
	opacity: .2;
	transform: scale(0);
}

@keyframes ripple {
	0% {
		transform: scale(0);
	}
	20% {
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(1);
	}
}

@keyframes rippleDuplicate {
	0% {
		transform: scale(0);
	}
	40% {
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(1);
	}
}

input[type=checkbox]:after {
	animation: ripple .4s ease-out;
}

input[type=checkbox]:checked {
	border: 2px solid transparent;
	color: #2d2d2d;
}

input[type=checkbox]:checked:before {
	color: #2d2d2d;
	content: '\f00c';
	font-size: 16px;
	line-height: 1;
	margin: 0;
	text-align: center;
	font-weight: 200;
}

input[type=checkbox]:checked:after {
	animation-name: rippleDuplicate;
}

input[type=checkbox]:focus {
	background-color: #2d2d2d !important;
}

.option select {
	background-color: transparent !important;
	border: 2px solid #505050;
	color: white;
	font-size: 13px;
	height: 28px;
	margin-top: 10px;
	outline: transparent !important;
}

.option {
	float: left;
	display: block;
	width: 100%;
}

#options div {
	margin-bottom: 5px;
}

#options label {
	color: #ccc;
}

#options h2,
#actions h2,
#lint h2,
#sections h2,
#backup h2 {
	font-weight: 300;
	font-size: 24px;
	color: #999;
	margin: 15px 0;
}

#options {
	display: block;
	float: left;
	padding-bottom: 20px;
}

#enabled-label,
.option label {
	padding: 0;
	float: left;
	display: block;
	line-height: 22px;
	color: #CCC;
}

.option.aligned {
	position: relative;
	width: 49%;
	margin: 0 -.01% 0 0;
	padding: 0;
	margin-bottom: 0 !important;
	margin-top: 10px;
	border: 1px solid #333;
}

.option.aligned:last-child {
	width: 98.6%;
	margin: -1px 0 0 0;
}

.option.aligned label {
	margin: 0 !important;
	padding: 4px 0 !important;
	width: 100%;
	text-transform: uppercase;
	font-size: 13px;
	text-align: center;
	border-bottom: 1px solid #333;
	color: #666 !important;
}

#tabSize-label,
#keyMap-label,
#theme-label {
	background-color: #272727;
}

.option.aligned input {
	color: #ccc;
	margin: 0;
	padding: 10px 0 !important;
	max-width: 100% !important;
	text-align: center !important;
	border-radius: 0 !important;
	border: none !important;
	min-height: 2rem;
	font-size: 16px;
	font-weight: 600;
}

#options [type="number"] {
	outline: transparent !important;
	box-shadow: none !important;
}

.option.aligned select {
	background-color: #222222 !important;
	border: none;
	color: #ccc;
	font-size: 14px;
	font-weight: 600;
	height: 38px;
	width: 100%;
	margin: 0;
	padding: 8px;
	outline: transparent !important;
	-webkit-appearance: none;
	-webkit-border-radius: 0px;
	text-align-last: center;
}

.applies-to-list select {
	flex: 2 auto !important;
	background-color: #222222 !important;
	border: none;
	color: #ccc;
	font-size: 13px;
	font-weight: 600;
	height: 36px;
	margin: 0;
	padding: 8px;
	outline: transparent !important;
	-webkit-appearance: none;
	-webkit-border-radius: 0px;
	text-align-last: center;
}

input {
	background: #222;
	border: none;
	color: #999;
	padding: 10px 12px;
	font-size: 13px;
	outline: transparent !important;
	box-shadow: inset 0 0 0 50px #444, 0 1px 8px 1px rgba(0, 0, 0, 0.1);
	box-sizing: border-box;
}

input.applies-value {
	background: transparent;
}

input:focus {
	color: #ccc;
	box-shadow: inset 0 0 0 1px #444;
	background: #222 !important;
}

input::-webkit-input-placeholder {
	color: #999;
	transition: all 0.3s cubic-bezier(.25, .5, .25, 1);
}

input:-ms-input-placeholder {
	color: #999;
	transition: all 0.3s cubic-bezier(.25, .5, .25, 1);
}

input::-moz-placeholder {
	color: #999;
	transition: all 0.3s cubic-bezier(.25, .5, .25, 1);
}

input:focus::-webkit-input-placeholder {
	color: #555;
	filter: blur(2px);
}

input:focus:-ms-input-placeholder {
	color: #555;
	filter: blur(2px);
}

input:focus::-moz-placeholder {
	color: #555;
	filter: blur(2px);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.applies-to li .applies-value {
	padding-left: 10px;
}

.applies-to-list button {
	margin-left: 3px;
}

.applies-to label {
	color: #ccc;
}

#sections {
	margin: 0;
	padding-left: 309px;
}

#sections > div {
	margin: 0;
	padding: 0 12px 30px 0;
}

#sections > div:not(:first-of-type) {
	padding-top: 30px;
	border-top: 1px solid #444;
}

#sections > div > label {
	background-color: #252525;
	padding: 4px 8px;
	display: inline-block;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 700;
	border: 1px solid #444;
	border-bottom: none;
	min-width: 47px !important;
	text-align: center;
}

.dirty > label::before {
	color: #f44336;
}

#lint {
	float: left;
	border-top: 1px solid #444;
	width: 100%;
	padding-bottom: 20px;
}

span#issue-count {
	color: #F44336;
}

#lint div {
		max-height: inherit !important;
}

#lint table {
		width: 100%;
		border-bottom: 1px dashed #444;
		padding-bottom: 1rem;
}

#lint table:last-child {
		border-bottom: none !important;
		padding-bottom: 0 !important;
}

#lint caption {
		text-transform: uppercase;
		margin-bottom: 7px;
		font-weight: 400;
		color: #999;
		border: 1px solid #444;
		display: inline-block;
		padding: 2px 7px;
		line-height: 1.3;
}

.CodeMirror-lint-marker-warning,
.CodeMirror-lint-message-warning,
.CodeMirror-lint-marker-error,
.CodeMirror-lint-message-error,
.CodeMirror-lint-marker-multiple {
	background-image: none !important;
}

.CodeMirror-lint-marker-warning:before,
.CodeMirror-lint-message-warning:before,
.CodeMirror-lint-marker-error:before,
.CodeMirror-lint-message-error:before {
	font-size: 16px;
	line-height: 18px;
	margin: 0;
	text-align: center;
	font-weight: normal !important;
	width: 16px !important;
	display: inline-block;
}

.CodeMirror-lint-marker-multiple:before {
	position: absolute;
	color: #FFF;
	content: '\f067';
	font-size: 10px;
	line-height: 1;
	margin: 0;
	font-weight: normal !important;
	z-index: 2;
	right: -5px;
	bottom: 0;
	text-shadow: 0 2px 0px #202020, 2px 0 0px #202020, 0px -2px 0px #202020, -2px 0 0px #202020;
}

.CodeMirror-lint-marker-warning:before,
.CodeMirror-lint-message-warning:before {
	color: #FFC107;
	content: '\f071';
}

.CodeMirror-lint-marker-error:before,
.CodeMirror-lint-message-error:before {
	color: #F44336;
	content: '\f057';
}

.CodeMirror-lint-tooltip {
	background-color: #333;
	border: 1px solid #444;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 6px 6px rgba(0, 0, 0, 0.18);
	border-radius: 0;
	color: #CCC;
	font-size: 13px;
	line-height: 1.4;
	margin-left: 5px;
	padding: 4px;
}

.CodeMirror-lint-message-error,
.CodeMirror-lint-message-warning {
	padding-left: 0;
}

.CodeMirror-lint-message-warning:before,
.CodeMirror-lint-message-error:before {
	margin-right: 5px !important;
	line-height: 1 !important;
	font-size: 13px !important;
}

#lint tr {
	color: #CCC;
	font-weight: 400;
	font-size: 11px;
	line-height: 12px;
	height: 20px;
}

#lint tr:hover {
	color: #FFF;
	background-color: #272727;
}

.CodeMirror {
	background: #202020;
	box-shadow: none !important;
	line-height: 1.5em !important;
	font-size: 12px !important;
	height: 70%;
	outline: transparent !important;
	border: 1px solid #444 !important;
}

.CodeMirror span {
	font-weight: normal !important;
}

.CodeMirror .cm-tab {
	color: transparent !important;
}

.CodeMirror .cm-comment {
	color: #555 !important;
	font-style: italic !important;
}

.CodeMirror .CodeMirror-matchingbracket {
	color: #0f0 !important;
	outline: none !important;
}

.CodeMirror .CodeMirror-nonmatchingbracket {
	color: #f22 !important;
}

.CodeMirror .CodeMirror-gutters {
	background-color: #252525 !important;
	background-image: none !important;
	border-right: 1px solid #333 !important;
	box-shadow: none;
	padding-right: 0;
}

.CodeMirror .CodeMirror-linenumber {
	color: #666;
	padding: 0 0 0 5px;
	text-shadow: none;
}

.CodeMirror .CodeMirror-guttermarker {
	color: #AAA;
}

.CodeMirror .CodeMirror-guttermarker-subtle {
	color: #666;
}

.CodeMirror .CodeMirror-lines .CodeMirror-cursor {
	border-left: 2px solid;
}

.CodeMirror-activeline,
.CodeMirror-activeline-background {
	background: rgba(24, 24, 24, 0.5) !important;
}

.CodeMirror .CodeMirror-selected {
	background: rgba(255, 255, 255, .1) !important;
}

.CodeMirror-dialog {
	-moz-animation: highlight 500ms ease-out;
	-o-animation: highlight 500ms ease-out;
	-webkit-animation: highlight 500ms ease-out;
	animation: highlight 500ms ease-out;
}

.CodeMirror-dialog-top {
	border-top: 1px solid;
	bottom: -1;
	top: inherit;
	background: #202020 !important;
}

.CodeMirror-dialog input {
	background: transparent !important;
	box-shadow: none !important;
}

.cm-searching {
	padding: 1px;
}

.CodeMirror-search-match {
	width: 6px !important;
	height: 1px !important;
	right: 1px !important;
	border: none !important;
}

::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background: rgba(255, 255, 255, .1);
	border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
	background: rgba(255, 255, 255, .25);
}

::-webkit-scrollbar-thumb:active {
	background: rgba(255, 255, 255, .5);
}

.resize-grip {
	background: linear-gradient(-45deg, transparent 2px, #444 2px, transparent 3px, transparent 4.5px, #444 5px, transparent 5.5px);
}

/* Manage */
#stylus-manage #search,
#stylish-manage #search {
		border: none !important;
		width: 101%;
		bottom: -1px;
		left: -1px;
}
#stylus-manage fieldset,
#stylish-manage fieldset {
	border: 4px solid #474747 !important;
}

#stylus-manage #search:focus,
#stylish-manage #search:focus,
#stylus-manage #search::placeholder:focus,
#stylish-manage #search::placeholder:focus {
	color: #CCC;
}

#stylish-manage button#check-all-updates,
#stylish-manage button#add-style-label {
	position: absolute;
	width: calc(50% - 21.5px);
	font-size: 0;
	padding: 15px;
}

#stylus-manage button#check-all-updates,
#stylus-manage button#add-style-label {
	float: left;
	font-size: 0;
	margin: 0 4px 0 0;
	width: calc(50% - 2px);
	padding: 15px !important;
}

#stylus-manage button#add-style-label {
	font-size: inherit;
	width: 100%;
	line-height: 24px;  /*margin-top: -9px;*/
}

#stylus-manage button#add-style-label:before {
	margin-right: 10px !important;
}

#stylus-manage span#update-history svg {
	font-size: 0;
	margin: 0;
	width: calc(50% - 2px) !important;
	padding: 13px 15px !important;
	height: 56px;
	fill: #e0ae93;
	box-sizing: border-box;
}

#stylus-manage button#apply-all-updates,
#stylish-manage button#apply-all-updates,
#stylus-manage span#update-all-no-updates,
#stylish-manage span#update-all-no-updates {
	width: 100%;
	position: relative;
	overflow: visible;
}

#stylus-manage button#apply-all-updates:after {
	content: ""attr(data-value) "";
	color: #ffffff;
	font-weight: 700;
	font-size: 11px;
	background: #f44336;
	padding: 1px 5px;
	position: absolute;
	top: -3px;
	right: -3px;
}

#stylus-manage span#update-all-no-updates,
#stylish-manage span#update-all-no-updates {
	font-size: 15px;
	text-align: center;
	color: #0ef0ec;
	font-weight: bold;
	display: inline-block;
}

#update-all-no-updates[data-skipped-edited="true"]:after {
	float: left;
	margin-top: .5em;
	font-weight: normal;
	color: #999;
	font-size: 13px;
}

#stylus-manage button#check-all-updates-force {
	margin-top: 1em;
}

#stylus-manage button#file-all-styles,
#stylish-manage button#file-all-styles,
#stylus-manage button#unfile-all-styles,
#stylish-manage button#unfile-all-styles {
	float: left;
	width: calc(50% - 2px);
	font-size: 0;
	padding: 15px;
}

#stylish-manage button#file-all-styles,
#stylish-manage button#unfile-all-styles {
	margin-top: 101px;
}

#stylus-manage button#file-all-styles,
#stylus-manage button#unfile-all-styles {
	margin-top: 5px;
}

#stylus-manage button#file-all-styles,
#stylish-manage button#file-all-styles {
	margin-right: 4px;
}

#stylus-manage #options,
#stylish-manage #options {
	border-top: 1px solid #444;
	border-bottom: 1px solid #444;
}

#stylish-manage #options {
	margin-top: 25px;
}

#stylus-manage #options {
	margin-top: 32px;
	width: 100%;
	padding-bottom: 32px;
}

#stylus-manage #options label {
	line-height: 22px !important;
}

#stylus-manage #options div {
	margin: 5px 0 !important;
	position: relative;
}

#stylus-manage #options .svg-icon.info {
	width: 16px;
	height: 16px;
	margin-left: 0;
	position: absolute;
	top: 2px;
	right: -12px;
}

#stylus-manage #options .svg-icon.info:hover {
	fill: #e0ae93;
}

#stylus-manage #options #faviconsHelp {
	background: #272727;
	border: 1px solid #444;
	margin-top: 10px !important;
	padding: .75em 1em .5em;
}

#stylus-manage #options #faviconsHelp div {
    display: block;
    overflow: hidden;
}

#stylus-manage #options button {
	margin: 0 4px 0 0;
	padding: 15px !important;
	width: 32%;
	font-size: 0 !important;
	float: left;
}

#stylus-manage #options button:last-child {
	margin-right: 0 !important;
}

#stylus-manage #backup {
	display: block;
	float: left;
	width: 100%;
}

#stylus-manage #manage-text,
#stylish-manage #manage-text {
		float: left;
		margin: 25px 0;
		line-height: 1.7;
}

#stylus-manage #installed,
#stylish-manage #installed {
	margin-left: 250px;
	padding: 20px 0;
}

.newUI #stylus-manage #installed {
	margin-left: 250px;
	padding: 15px 0 15px 10px;
	margin-top: 0;
	margin-bottom: 0;
	width: calc(100% - 250px);
}

#stylus-manage #installed::after,
#stylish-manage #installed::after {
		background-color: transparent !important;
}

#stylus-manage #installed .enabled,
#stylus-manage #installed .disabled,
#stylish-manage #installed .enabled,
#stylish-manage #installed .disabled {
	border-bottom: 1px solid #444;
	margin: 0 10px 20px 10px;
	padding: 0 15px 15px 0;
}

#stylus-manage #installed .enabled,
#stylus-manage #installed .disabled {
	border-top: none !important;
	margin: 0 20px 20px 20px;
	padding: 0 0 15px 0;
}

#stylus-manage #installed .disabled,
#stylish-manage #installed .disabled {
		opacity: 1;
}
#stylus-manage #installed .disabled .style-name,
#stylus-manage #installed .disabled .applies-to,
#stylus-manage #installed .disabled .actions,
#stylish-manage #installed .disabled .style-name,
#stylish-manage #installed .disabled .applies-to,
#stylish-manage #installed .disabled .actions {
		opacity: 0.5;
}

#stylus-manage #installed div:last-child,
#stylish-manage #installed div:last-child {
	border-bottom: none !important;
}
#stylus-manage #installed div h2.style-name,
#stylish-manage #installed div h2.style-name {
	font-weight: 300;
	font-size: 22px;
	margin: 15px 0;
}
#stylus-manage #installed .disabled h2::after,
#stylish-manage #installed .disabled h2::after{
	content: "Disabled";
	margin: 0 0 0 8px;
	background: #2d2d2d;
	color: #d0a421;
	border: 2px solid #d0a421;
	padding: 0 6px;
	line-height: 1;
	font-size: 14px;
	text-transform: uppercase;
	position: relative;
	top: -2px;
	font-weight: 700;
}

#stylus-manage #installed .actions button,
#stylish-manage #installed .actions button {
	font-size: 0;
	padding: 10px;
}

#stylus-manage #installed span.update-note,
#stylish-manage #installed span.update-note {
	font-size: 16px;
	font-weight: 300;
	margin-left: 10px;
	line-height: 40px;
	vertical-align: bottom;
}

#stylus-manage #message-box {
	box-shadow: none;
	background-color: transparent;
}

#stylus-manage #message-box > div {
		top: 50%;
		right: 0;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		background-color: #2d2d2d;
		border: 10px solid #272727;
		box-shadow: 0px 0px 0 10000px rgba(16, 16, 16, 0.85);
		outline: 1px solid #444;
		padding: 1rem;
}

#stylus-manage #message-box-title {
    color: #25F0ED;
    font-weight: 300;
    background-color: transparent;
    margin: -1rem -1rem 0.5rem;
    padding: 0.6rem 0.6rem 0.6rem 52px;
    text-transform: uppercase;
    font-size: 18px;
}

#stylus-manage #message-box-close-icon svg {
	fill: #666;
}

#stylus-manage #message-box-close-icon svg:hover {
	fill: #f44336;
}

#stylus-manage #message-box-contents {
	padding: 0;
}

#stylus-manage #message-box-contents .update-history-log {
	font-size: inherit;
}

#stylus-manage #message-box-buttons {
	padding: 1rem 0 0;
	background-color: transparent;
	text-align: left;
}

#stylus-manage #message-box-buttons button {
	margin: 0 4px 0 0;
}

/* Responsive Styles */

@media only screen and (min-width:641px) {

	#header {
		width: 200px;
		padding: 10px 15px;
	}

	#header h1 {
		font-size: 24px;
	}

	#header h1,
	#basic-info {
		margin-bottom: 0.75rem;
	}

	#header h1:before {
		font-size: 56px !important;
		margin: 10px 0 15px 0;
	}

	#actions> * {
		padding-bottom: 20px;
	}

	#save-button,
	#beautify,
	#cancel-button {
		width: 32% !important;
		padding: 10px !important;
	}

	#save-button:before,
	#beautify:before,
	#cancel-button:before {
		font-size: 20px;
		line-height: 20px;
		width: 20px;
		height: 20px;
	}

	#from-mozilla,
	#to-mozilla {
		font-size: 0;
	}

	#from-mozilla:before,
	#to-mozilla:before {
		margin-right: 0;
	}

	#options {
		float: none;
		overflow: hidden;
	}

	img#keyMap-help {
		right: 0px;
	}

	.option.aligned:last-child {
		width: 99%;
		margin: -1px 0 0 0;
	}

	.option.aligned label {
		font-size: 12px;
	}

		#sections {
				padding-left: 246px;
		}

}

@media only screen and (min-width:1025px) {

	#header {
		width: 250px;
		padding: 15px 20px;
	}

	#header h1 {
		font-size: 28px;
	}

	#header h1,
	#basic-info {
		margin-bottom: 1rem;
	}

	#header h1:before {
		font-size: 64px !important;
		margin: 10px 0 20px 0;
	}

	#actions> * {
		padding-bottom: 25px;
	}

	#save-button,
	#beautify,
	#cancel-button {
		width: 32% !important;
		padding: 15px !important;
	}

	#save-button:before,
	#beautify:before,
	#cancel-button:before {
		font-size: 24px;
		line-height: 24px;
		width: 24px;
		height: 24px;
	}

	#from-mozilla,
	#to-mozilla {
		font-size: 12px;
	}

	#from-mozilla:before,
	#to-mozilla:before {
		margin-right: 7px;
	}

	#options {
		float: left;
		overflow: visible;
	}

	img#keyMap-help {
		right: -4px;
	}

	.option.aligned:last-child {
		width: 98.6%;
		margin: -1px 0 0 0;
	}

	.option.aligned label {
		font-size: 13px;
	}

	#sections {
		padding-left: 309px;
	}

}
