/*=================================
=       SYNTAX THEME STYLES       =
=================================*/

/*-------- 3024-day --------*/

.cm-s-3024-day {
    color: #CCC;
}

/*-------- 3024-night --------*/

.cm-s-3024-night {
    background: #202020;
}
.cm-s-3024-night .CodeMirror-activeline-background {
    background: inherit !important;
}
.cm-s-3024-night .CodeMirror-selected {
    background: rgba(255, 255, 255, 0.05) !important;
}

/*-------- ambiance-mobile --------*/

.cm-s-ambiance-mobile {
    color: #CCC;
}

/*-------- solarized --------*/

.cm-s-solarized,
.cm-s-solarized .cm-tag {
	color: #CCC;
}
.cm-s-solarized .CodeMirror-lines .CodeMirror-cursor {
	border-color: #819090;
}
.cm-s-solarized .cm-qualifier,
.cm-s-solarized .cm-builtin,
.cm-s-solarized .cm-def {
	color: #d6a819;
}
.cm-s-solarized .cm-meta {
	color: #e2e2e2;
}

/*-------- xq-dark --------*/

.cm-s-xq-dark .CodeMirror-activeline-background {
	background: rgba(51, 51, 51, 0.5) !important;
}
.cm-s-xq-dark span.cm-builtin {
	color: #4e63d6;
}
.cm-s-xq-dark span.cm-def {
	color: #f7a8a8;
	text-decoration: none;
	background: rgba(247, 168, 168, 0.1);
}
